* {
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
}

body {
	background-color: #29235C;
}

.container {
	width: 60%;
	margin: 0 auto;
	min-width: 300px;
	margin-top: 100px;
}

.header {
	padding: 10px;
	background-color: #36A9E1;
	color: #F5F5F5;
	border-radius: 10px 10px 0 0;
}

h3 {
	padding: 50px 0;
	text-align: center;
	color: #36A9E1;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5em;
}
.section {
	background-color: #F5F5F5;
	min-height: 150px;
	border-radius: 0 0 10px 10px;
}